*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    margin-left: 20px;
}

.logo img{
    width: 25%;
}
.nav{
    display: flex;
    margin: 0px 10px;
}

.nav li{
    list-style: none;
    margin: 20px;
}

.nav li a{
    list-style: none;
    text-decoration: none;
    font-size: 1.2em;
}


